/* classes */
.geneListContainer {
    width: 20em;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 2vh;
}

.submitFormatOptions {
    margin-top: 2vh;
}

/*ids*/
#genomeInTable {
    margin: 0vh 2vh 2vh 2vh;
}
#genomeOutTable {
    margin: 2vh;
}